@inherits MintNftTemplateComponentModel

<div id="MintNftTemplateComponent" class="container-fluid justify-content-around row align-items-center pt-3">

  <div id="FormContainer" class="container-fluid pt-3">

    <div class="container bg-primary">
      <div class="row mb-3 p-2">
        <div class="col bg-danger m-2 text-center">
          <h3>Template Name</h3>
          <h4>@CurrentNftTemplate.Name</h4>
        </div>
        <div class="col bg-danger m-2 text-center">
          <h3>Template Symbol</h3>
          <h4>@CurrentNftTemplate.Symbol</h4>
        </div>
        <div class="col bg-danger m-2 text-center">
          <h3>Template Mint Limit</h3>
          <h4>@CurrentNftTemplate.MintLimit</h4>
        </div>
        <div class="col bg-danger m-2 text-center">
          <h3>Template Attached Tokens</h3>
          <h4>@CurrentNftTemplate.AttachedTokens</h4>
        </div>
      </div>
    </div>
    <div class="container bg-info">
      <div class="row mb-3 p-2">
        @foreach (var property in TemplateFormProperties.CleanPropertyList)
        {
          //var tempProp = TemplateFormProperties.GetType().GetProperty(property.Name)
          <div class="col text-center">
            <h4>@property</h4>
            <span class="bg-light text-center text-black-50">This is where the input will be</span>
            @* <input id=@property.Name @bind="TemplateFormProperties.GetType().GetProperty(property.Name)" />*@
          </div>
        }
      </div>
        <div class="row bg-secondary">
          <h3>Item Properties</h3>
          @foreach (var property in TemplateFormProperties.CleanItemPropertyList)
          {
            <div class="col m-2 text-center">
              <h4>@property</h4>
            </div>
          }
        </div>
    </div>
    <button type="button" class="btn btn-primary" @onclick="PrintValues">
      Console Values
    </button>
  </div>
</div>