@inherits MintNftTemplateComponentModel

  <div id="MintNftTemplateComponent" class="container-fluid justify-content-around row align-items-center pt-3">

    <div id="FormContainer" class="d-flex justify-content-around row align-items-center pt-3">

     

      <div class="container row w-75 d-flex space-around">
        <h1>@TokenTypeInfo.Name</h1>
        <h4>@TokenTypeInfo.Symbol</h4>
        <h4>@TokenTypeInfo.MintLimit</h4>
        <h4>@TokenTypeInfo.AttachedTokens</h4>
      </div>
      <div class="container">

        @foreach (var property in TokenTypeInfo.GetType().GetProperties())
        {
          string propName = property.ToString();
          <div class="col">
          <h4>@property</h4>
          <input id=@property @bind="@propName") />
        </div>
        }
       

      </div>
      <button type="button" class="btn btn-primary" @onclick="PrintValues">
        Console Values
      </button>

    </div>
 
  </div>

 