@inherits NftTypeListComponentModel

<div class="bg-primary container text-center">
  Nft Type List Here
  <div class="align-self-center p-2 m-2">
    <select @onchange=@SetNewNft>
      @foreach (var template in NftDataList)
      {
        <option value=@template.Name>@template.Name</option>
      }
    </select>
  </div>
  <div class="row justify-content-around">
    <p>Name: @CurrentNftTemplate.Name </p>
    <p>Name: @CurrentNftTemplate.Symbol </p>
    <p>Name: @CurrentNftTemplate.MintLimit </p>
    <p>Name: @CurrentNftTemplate.AttachedTokens </p>
  </div>
</div>