@inherits TokenInfoModel

  <div class="flex-row space-around m-2 p-2">
    <p>Name: @TokenData.Name</p>
    <p>Symbol: @TokenData.Symbol</p>
    <p>MintLimit: @TokenData.MintLimit</p>
    <p>AttachedTokens: @TokenData.AttachedTokens</p>

    @foreach (var property in TokenData.NftProps)
    {
  <div class="col bg-light text-center p-2 m-2">
    <h4>@property.Key</h4>
    <h5>@property.Value</h5>
  </div>
    }
  </div>