@page "/AssetNft"
@layout AssetNftLayout;
@inherits AssetNftPageModel;
@*<NavLink class="nav-link" href="/">
      <span class="oi oi-home" aria-hidden="true"></span>Home
  </NavLink>*@

<div id="NftCountContainer" class="container justify-content-center py-2">
  <div class="bg-success text-center w-25">
    <p> TotalToken Count</p>
    @if (WebThreeState.OwnedTokenIdList.Count > 0)
    {
      <h3>@WebThreeState.OwnedTokenIdList.Count</h3>
      <select @onchange=@SetNewToken>
        @foreach (var tokenId in @WebThreeState.OwnedTokenIdList)
        {
          <option value=@tokenId>Token Id: @tokenId</option>
        }
      </select>
    }
  </div>

  @*@if (TokentNft != null)
  {
    <div class="container bg-danger">
      <div class="row text-center">
        <p>Template Info</p>
        <div class="col">
          <h4>NftID: @TokentNft.NftId</h4>
        </div>
        <div class="col">
          <h4>Name: @TokentNft.Name</h4>
        </div>
        <div class="col">
          <h4>Symbol: @TokentNft.Symbol</h4>
        </div>
        <div class="col">
          <h4>MintLimit: @TokentNft.MintLimit</h4>
        </div>
        <div class="col">
          <h4>AttachedTokens: @TokentNft.AttachedTokens</h4>
        </div>
      </div>
    </div>*@

  @if (CurrentTokenData != null)
  {
    <p>Tests from the class vars that get from webthree state, should change</p>
    <div class="bg-success text-center">
      <h3>Current Token:</h3>
      <p>Token ID: @CurrentTokenData.TokenId</p>
      <p>Symbol: @CurrentTokenData.TemplateData.Symbol</p>
      <p>NftId: @CurrentTokenData.TemplateData.NftId</p>
      <div class="col text-center">
        <h4>Balance: @CurrentTokenData.Balance</h4>
      </div>
    </div>
  }
    @*@if (TokentNft.NftId == 2)
    {

      <div class="col text-center">
        <h4>Date:</h4>
        <h5 class="bg-light">@CurrentTokenData.ImmDataObj.Date</h5>
      </div>
      <div class="col text-center">
        <h4>Minted From:</h4>
        <h5 class="bg-light">@CurrentTokenData.ImmDataObj.MintedFrom</h5>
      </div>
      <div class="col text-center">
        <h4>Title:</h4>
        <h5 class="bg-light">@CurrentTokenData.ImmDataObj.Title</h5>
      </div>
    }*@
    @*@if (TokentNft.NftId == 5)
    {

      <div class="row m-2 p-2 bg-primary">

        <h3 class="text-light">@CurrentTokenData.PurchaseOrderData.Title</h3>
        @foreach (var prop in CurrentTokenData.PurchaseOrderData.GetType().GetProperties())
        {
          <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2 bg-success">
            <h4>@prop.Name:</h4>
            <h5>@prop.GetValue(CurrentTokenData.PurchaseOrderData)</h5>
          </div>
        }
        <div class="col">

          <h4>Additional Info:</h4>
          <h5>@CurrentTokenData.MutableData</h5>
        </div>
      </div>
    }
    @if (CurrentTokenData.Data != null)
    {
      <div class="col text-center">
        <h4>Immutable Data:</h4>
        <h5 class="bg-light">@CurrentTokenData.Data</h5>
      </div>
    }
    @if (CurrentTokenData.MutableData != null)
    {
      <div class="col text-center">
        <h4>Immutable Data:</h4>
        <h5 class="bg-light">@CurrentTokenData.MutableData</h5>
      </div>
    }*@

  }
</div>
