@inherits RequestForQuotationTemplateModel

<div id="RequesetForQuotationTemplateComponent" class="container-fluid justify-content-around row align-items-center pt-3">

  <div class="bg-info">
    <h3>@FormData.Title</h3>
    <div class="form-group">
      @*<DataAnnotationsValidator />
        <ValidationSummary />*@
      <div class="form-row mb-3 p-2">
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PoApprover" class="font-weight-bold">Approver</label>
          <input id="Approver" class="form-control" placeholder="Approver" type="text" @bind="@FormData.DeliveryTerms" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PoDepartment" class="font-weight-bold">Department:</label>
          <input id="Department" type="text" class="form-control" @bind="@FormData.CustomClearance" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PoDeliverDate" class="font-weight-bold">Deliver Date</label>
          <input id="DeliveryDate" type="text" class="form-control" @bind="@FormData.UNDPprefered" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PoRequester" class="font-weight-bold">Requester:</label>
          <input id="Requester" type="text" class="form-control" @bind="@FormData.LatestExpectedDeliveryData" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PoNotes" class="font-weight-bold">Requester:Notes:</label>
          <textarea id="Notes" type="text" class="form-control" @bind="@FormData.DeliverySchedule" />
        </div>
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Name" class="font-weight-bold">Item_Name</label>
        <input id="Item_Name" type="text" class="form-control" @bind="@FormData.ModeOfTransport" />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Price" class="font-weight-bold">Item Price:</label>
        <input id="Item_Price" type="text" class="form-control" @bind="@FormData.AfterSalesService" />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Qty" class="font-weight-bold">Item Qty:</label>
        <input id="Item_Qty" type="text" class="form-control" @bind="@FormData.Deadline" />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Code" class="font-weight-bold">Item Code:</label>
        <input id="Item_Code" type="text" class="form-control" @bind="@FormData.DocumentationLanguage" />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Discount" class="font-weight-bold">Item_Discount:</label>
        <input id="Item_Discount" type="text" class="form-control" @bind="@FormData.PeriodOfValidity" />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
        <input id="Item_Total" type="text" class="form-control" @bind=@FormData.PartialQuotes />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
        <input id="Item_Total" type="text" class="form-control" @bind=@FormData.PaymentTerms />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
        <input id="Item_Total" type="text" class="form-control" @bind=@FormData.Awardees />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
        <input id="Item_Total" type="text" class="form-control" @bind=@FormData.ConctractType />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
        <input id="Item_Total" type="text" class="form-control" @bind=@FormData.CancelationPolicy />
      </div>
      <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
        <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
        <input id="Item_Total" type="text" class="form-control" @bind=@FormData.ConditionsOfRelease />
      </div>
      div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
      <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
      <input id="Item_Total" type="text" class="form-control" @bind=@FormData.Contract />
    </div>
    <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
      <label for="PoItem_Label" class="font-weight-bold">Item Total:</label>
      <input id="Item_Total" type="text" class="form-control" @bind=@FormData.EquivalentSubstitution />
    </div>
    <div class="col-6 col-sm-5 col-lg-4 col-xl-3 text-center m-2">
      <label for="AdditionalInformation" class="font-weight-bold">Additional Information:</label>
      <textarea id="MutableData" type="text" class="form-control" @bind="@MutableDataString" />
    </div>
  </div>
  <button type="button" class="btn btn-primary" @onclick=@SendDataToState>
    Send Data To State and Console
  </button>
</div>