@inherits RequestForQuotationTemplateModel

<div id="RequesetForQuotationTemplateComponent" class="container-fluid justify-content-around row align-items-center pt-3">

  <div class="bg-info pl-4">
    <h3>@FormData.Title</h3>
    <div class="form-group">
      @*<DataAnnotationsValidator />
        <ValidationSummary />*@
      <div class="form-row mb-3 p-2">
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="DeliveryTerms" class="font-weight-bold">Delivery Terms:</label>
          <input id="DeliveryTerms" class="form-control" placeholder="Delivery Terms" type="text" @bind="@FormData.DeliveryTerms" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="CustomClearance" class="font-weight-bold">Custom Clearance:</label>
          <input id="CustomClearance" type="text" class="form-control" @bind="@FormData.CustomClearance" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="UndPreferred" class="font-weight-bold">UND Preferred:</label>
          <input id="UndPreferred" type="checkbox" class="form-control" @bind="@FormData.UndPreferred" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="LatestExpectedDeliveryData" class="font-weight-bold">Latest Expected Delivery Data:</label>
          <input id="LatestExpectedDeliveryData" type="datetime" class="form-control" @bind="@FormData.LatestExpectedDeliveryData" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="DeliverySchedule" class="font-weight-bold">DeliverySchedule:</label>
          <textarea id="DeliverySchedule" type="text" class="form-control" @bind="@FormData.DeliverySchedule" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="ModeOfTransport" class="font-weight-bold">Mode Of Transport</label>
          <input id="ModeOfTransport" type="text" class="form-control" @bind="@FormData.ModeOfTransport" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="AfterSalesService" class="font-weight-bold">After Sales Service:</label>
          <input id="AfterSalesService" type="text" class="form-control" @bind="@FormData.AfterSalesService" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="Deadline" class="font-weight-bold">Deadline:</label>
          <input id="Deadline" type="datetime" class="form-control" @bind="@FormData.Deadline" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PoItem_Code" class="font-weight-bold">Item Code:</label>
          <input id="Item_Code" type="text" class="form-control" @bind="@FormData.DocumentationLanguage" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="DocumentationLanguage" class="font-weight-bold">Documentation Language:</label>
          <input id="DocumentationLanguage" type="text" class="form-control" @bind="@FormData.PeriodOfValidity" />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PartialQuotes" class="font-weight-bold">Item Partial Quotes:</label>
          <input id="PartialQuotes" type="text" class="form-control" @bind=@FormData.PartialQuotes />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="PaymentTerms" class="font-weight-bold">Payment Terms:</label>
          <input id="PaymentTerms" type="text" class="form-control" @bind=@FormData.PaymentTerms />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="Awardees" class="font-weight-bold">Awardees:</label>
          <input id="Awardees" type="text" class="form-control" @bind=@FormData.Awardees />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="ContractType" class="font-weight-bold">ContractType:</label>
          <input id="ContractType" type="text" class="form-control" @bind=@FormData.ContractType />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="CancelationPolicy" class="font-weight-bold">Cancelation Policy:</label>
          <input id="CancelationPolicy" type="text" class="form-control" @bind=@FormData.CancelationPolicy />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="CancelationPolicy" class="font-weight-bold">Cancelation Policy:</label>
          <input id="CancelationPolicy" type="text" class="form-control" @bind=@FormData.CancelationPolicy />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="Contract" class="font-weight-bold">Contract:</label>
          <input id="Contract" type="text" class="form-control" @bind=@FormData.Contract />
        </div>
        <div class="col-6 col-sm-5 col-lg-3 col-xl-2 text-center m-2">
          <label for="EquivalentSubstitution" class="font-weight-bold">Equivalent Substitution:</label>
          <input id="EquivalentSubstitution" type="text" class="form-control" @bind=@FormData.EquivalentSubstitution />
        </div>
        <div class="col-6 col-sm-5 col-lg-4 col-xl-3 text-center m-2">
          <label for="AdditionalInformation" class="font-weight-bold">Additional Information:</label>
          <textarea id="AdditionalInformation" type="text" class="form-control" @bind="@MutableDataString" />
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" @onclick=@SendDataToState>
      Send Data To State and Console
    </button>
  </div>
  </div>
